*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  }

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* Header */

header{
  background-color: #255EE9;
  padding: 10px
}

.container1{
  max-width: 1200px;
  margin: 0 auto;
}

.inner-header{
  display: flex;
  justify-content: space-around;
}

.logo, .login, .debug {
  background-color:#255EE9;
  padding: 10px;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.debug{
  display: flex;
  justify-content: space-evenly;
}

.navigation{
  color: white;
  font-size: 1em;
  font-weight: bold;
}

nav a{
  padding: 10px;
  text-decoration: none;
  color: #000;
}

.button-login{
  display: flex;
  justify-content: center;
  align-items: center; 
  border: none;
}

.accedi-button {
  background-color: #ffffff; /* Sfondo blu */
  color: rgb(0, 0, 0); /* Testo bianco */
  padding: 10px 20px; /* Spazio interno per rendere il bottone più grande */
  border: none; /* Nessun bordo */
  border-radius: 20px; /* Angoli arrotondati per il bottone */
  font-weight: bold; /* Testo in grassetto */
  text-align: center; /* Testo allineato al centro */
  cursor: pointer; /* Cambia il cursore quando è sopra il bottone */
  outline: none; /* Rimuove il contorno di focus */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombra leggera per profondità */
  transition: background-color 0.2s; /* Transizione per un effetto al passaggio del mouse */
}

.accedi-button:hover {
  background-color: #4752C4; /* Cambia colore allo stato hover */
}


/* Fine header */
/* Blocco jumbo */

.container-jumbo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/jumbo.png);
  background-size: cover; 
  background-position: center;
  position: relative;
  padding-top: 180px;
  padding-bottom: 70px;
}

.hero-text {
  text-align: center;
  width: 1250px; 
  height: 420px;  
  margin-bottom: 50px;
}

h1{
display: flex;
justify-content:center;
color: white;
text-align: center;
padding-bottom: 20px;
font-size: 4em;
}

.p-jumbo{
  display: flex;
  justify-content: space-around;
  color:white;
  font-size: 2em;
  text-align: center;
  justify-content: center;
  align-items: center;  
}

/* Bottoni */

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 40px;
}

.button {
  padding: 10px 20px;
  font-size: 1.5em;
  border: none;
  border-radius: 20px; /* Angoli arrotondati */
  font-weight: bold;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra per dare profondità */
  transition: background-color 0.3s; /* Transizione per effetto hover */
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-button{
background-color: white;
}

.open-button{
  background-color: #23272A;
  color: white;
}

.button .icon {
  margin-right: 8px; /* Distanza tra l'icona e il testo */
}

.download-button:hover, .open-button:hover {
  background-color: #4752C4; /* Effetto hover */
}

/* Fine bottoni */

/* Fine Blocco jumbo */
/* Blocco rana */

.container-white {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255); 
  height: 800px; 
  
}

.study-group {
  background-color: white;
  display: flex;
  width: 750px;
  height: 520px;
  margin-right: 60px;
}

.square-luogo{
  padding-left: 90px;
}

.square-luogo{
  width: 500px;
  height: 520px;
}

.testo-grande-rana {
  font-size: 50px; 
  font-weight: bold; 
  line-height: 1.1; 
  letter-spacing: -2px; 
  margin-bottom: 20px; 
  padding-top: 30px;
}

.testo-piccolo-rana {
  font-size: 25px; 
  line-height: 1.4; 
  font-weight: bold;
}
/* Fine Blocco rana */
/* Blocco mago */

.container-grey {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6; 
  height: 650px; 
}

.square-dove {
  width: 500px;
  height: 520px;
}

.testo-grande-mago{
  font-size: 50px; 
  font-weight: bold; 
  line-height: 1.1; 
  letter-spacing: -2px; 
  margin-bottom: 20px; 
  padding-top: 30px;
}

.testo-piccolo-mago{
  font-size: 30px; 
  line-height: 1.4;
  font-weight: bold;
}

.voice-connected {
  background-color: #F6F6F6; 
  width: 750px;
  height: 520px;
  display: flex;
}

/* Fine Blocco mago */
/* Blocco orco */

.container-white2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 255, 255); 
  height: 600px; 
  
}

.coach {
  background-color: white;
  display: flex;
  width: 750px;
  height: 520px;
  
}

.square-b { 
  width: 500px;
  height: 520px;
}

.testo-grande-orco{
  font-size: 50px; 
  font-weight: bold; 
  line-height: 1.1; 
  letter-spacing: -2px; 
  margin-bottom: 20px; 
  padding-top: 30px;
}

.testo-piccolo-orco{
  font-size: 30px; 
  line-height: 1.4;
  font-weight: bold;
}

/* Fine blocco orco */
/* Blocco finale */

.containerf {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6; 
  padding: 20px;
}

.text-content h2 {
  color: #23272a; 
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 40px;
}

.text-content p {
  color: #2c2f33; 
  margin-bottom: 1em;
  text-align: center;
  font-weight: bold;
}

.image-content {
  position: relative;
  max-width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.desktop-image {
  max-width: 60%; 
  margin-bottom: -50px; 
  display: flex;
  justify-content: center;
  align-content: center;
}

.pronto{
  background-image: url(img/stars.svg);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 24px;
  margin-left: 5px;
}

.Mac {
  background-color: #7289DA; 
  color: white; 
  padding: 10px 20px; 
  font-weight: 500; 
  font-size: 16px; 
  border-radius: 20px; 
  border: none; 
  display: inline-flex; 
  align-items: center; 
  justify-content: center; 
  cursor: pointer; 
  transition: background-color 0.3s; 
  box-shadow: 0 2px 3px rgba(0,0,0,0.2); 
  outline: none; 
  margin-bottom: 20px;
}

.mac:hover {
  background-color: #5B6EAE; 
}

.download-icon {
  margin-right: 8px; 
}

/* Fine Blocco finale */

/* Footer */

footer{
  background-color: #23272A;
}

footer ul{
list-style-type: none;
}

footer h3, h4{
  color: #5865F2;
}

.site-footer {
  background-color: #23272A; /* Colore di sfondo del footer */
  color: white; /* Colore del testo */
  padding: 40px; /* Spazio intorno al contenuto del footer */
}

.footer-content {
  display: flex;
  justify-content: space-around; /* Distribuisce equamente il contenuto */
  flex-wrap: wrap; /* Consente agli elementi di andare a capo se necessario */
}

.footer-section {
  margin-bottom: 20px; /* Spazio sotto ogni sezione */
}

.flag{
  
}

.footer-section h3, .footer-section h4 {
  margin-bottom: 10px; /* Spazio sotto ogni titolo di sezione */
}

.language-selector, .social-icons, .register-button {
  margin-bottom: 10px; /* Spazio sotto i selettori e i bottoni */
}

.social-icon {
  display: inline-block; /* Mostra le icone dei social in linea */
  margin-right: 10px; /* Spazio a destra di ogni icona */
}

.footer-bottom {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  border-top: 1px solid #40444B; 
  padding-top: 20px; 
}

.register-button {
  background-color: #5865F2; 
  color: white;
  border: none;
  border-radius: 20px; 
  padding: 10px 20px; 
  cursor: pointer;
}

/* Fine footer  */