*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  }

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* Header */

header{
  background-color: #255EE9;
  padding: 10px
}

.container1{
  max-width: 1200px;
  margin: 0 auto;
}

.inner-header{
  display: flex;
  justify-content: space-around;
}

.logo, .login, .debug {
  background-color:#255EE9;
  padding: 10px;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.debug{
  display: flex;
  justify-content: space-evenly;
}

.navigation{
  color: white;
  font-size: 1em;
  font-weight: bold;
}

nav a{
  padding: 10px;
  text-decoration: none;
  color: #000;
}

.button-login{
  display: flex;
  justify-content: center;
  align-items: center; 
  border: none;
}

.accedi-button {
  background-color: #ffffff; /* Sfondo blu */
  color: rgb(0, 0, 0); /* Testo bianco */
  padding: 10px 20px; /* Spazio interno per rendere il bottone più grande */
  border: none; /* Nessun bordo */
  border-radius: 20px; /* Angoli arrotondati per il bottone */
  font-weight: bold; /* Testo in grassetto */
  text-align: center; /* Testo allineato al centro */
  cursor: pointer; /* Cambia il cursore quando è sopra il bottone */
  outline: none; /* Rimuove il contorno di focus */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombra leggera per profondità */
  transition: background-color 0.2s; /* Transizione per un effetto al passaggio del mouse */
}

.accedi-button:hover {
  background-color: #4752C4; /* Cambia colore allo stato hover */
}


/* Fine header */
/* Blocco jumbo */

.container-jumbo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/jumbo.png);
  background-size: cover; 
  background-position: center;
  position: relative;
  padding-top: 180px;
  padding-bottom: 70px;
}

.hero-text {
  text-align: center;
  width: 1250px; 
  height: 420px;  
  margin-bottom: 50px;
}

h1{
display: flex;
justify-content:center;
color: white;
text-align: center;
padding-bottom: 20px;
font-size: 4em;
}

.p-jumbo{
  display: flex;
  justify-content: space-around;
  color:white;
  font-size: 2em;
  text-align: center;
  justify-content: center;
  align-items: center;  
}

/* Bottoni */


.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 40px;
}

.button {
  padding: 10px 20px;
  font-size: 1.5em;
  border: none;
  border-radius: 20px; /* Angoli arrotondati */
  font-weight: bold;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra per dare profondità */
  transition: background-color 0.3s; /* Transizione per effetto hover */
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-button{
background-color: white;
}

.open-button{
  background-color: #23272A;
  color: white;
}

.button .icon {
  margin-right: 8px; /* Distanza tra l'icona e il testo */
}

.download-button:hover, .open-button:hover {
  background-color: #4752C4; /* Effetto hover */
}

/* Fine bottoni */

/* Fine Blocco jumbo */
/* Blocco bianco */

.container-white {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255); 
  height: 600px; 
  
}

.study-group {
  background-color: white;
  display: flex;
  width: 750px;
  height: 520px;

}

.square-b {
  background-color:pink; 
  width: 500px;
  height: 520px;
  border: 3px dashed black;

}

/* Fine Blocco bianco */
/* Blocco grigio */

.container-grey {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6; 
  height: 600px; 
  justify-content: center;
  align-items: center;
}

.square-c {
  background-color: #FFC0CB;
  width: 500px;
  height: 520px;
  border: 3px dashed black;

}

.voice-connected {
  background-color: #F6F6F6; 
  width: 750px;
  height: 520px;
  display: flex;

}

/* Fine Blocco grigio */
/* Blocco bianco */

.container-white {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255); 
  height: 600px; 
  
}

.coach {
  background-color: white;
  display: flex;
  width: 750px;
  height: 520px;
  
}

.square-b {
  background-color:pink; 
  width: 500px;
  height: 520px;
  border: 3px dashed black;

}

/* Fine blocco bianco */
/* Blocco grigio/verde */

.container-grey-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6; 
  height: 1300px; 
}

.square-green {
  display: flex;
  width: 1250px; 
  height: 940px; 
  background-color: #F6F6F6; 
  border: 3px dashed black; 
}

/* Fine Blocco grigio/verde */
/* Blocco nero */

.container-black {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000; 
  height: 600px; 
  justify-content: center;
  align-items: center;
}

.square-e{
  background-color: red;
  width: 300px;
  height: 520px;
  border: 3px dashed black;
}

.square-f{
  background-color: rgb(19, 158, 180);
  width: 237.5px;
  height: 520px;
  border: 3px dashed rgb(255, 255, 255);
}

/* Fine Blocco nero */
/* Spaziatura grigia*/

.linea{
  background-color: grey;
  height: 10px;
}

/* Fine spaziatura grigia */
/* Footer */

footer{
  background-color: #000000;
  padding: 10px;
}

.container2{
  max-width: 1200px;
  margin: 0 auto;
  background-color: green;
}

.inner-footer{
  display: flex;
  justify-content: space-between;
}

.logo-2, .bottone {
  background-color:#DAA520;
  padding: 10px;
  border: 2px dashed #000;
}

/* Fine footer */